name: Github Actions CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v3

      # (*) To add a file, add the following section for it
    - name: Analyse
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex
        latexmk_shell_escape: true
        working_directory: analyse

    - name: Linear Algebra
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex
        latexmk_shell_escape: true
        working_directory: linalg_translation/src/linalg/

    - name: Linear Algebra
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex
        latexmk_shell_escape: true
        working_directory: linalg_translation/linalg_en/linalg/

    - name: Linear Algebra
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex
        latexmk_shell_escape: true
        working_directory: linalg_translation/linalg_ua/linalg/
        
    - name: Analyse Numerique avec python
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex
        latexmk_shell_escape: true
        working_directory: anal-avec-python
      # (*) To add a file, add the PDF filename to the following
      #
    - name: Analyse CheatSheet
      uses: xu-cheng/latex-action@v3
      with:
        root_file: cheatsheet.tex
        latexmk_shell_escape: true
        working_directory: analyse

    - name: Linear Algebra CheatSheet
      uses: xu-cheng/latex-action@v3
      with:
        root_file: cheatsheet.tex
        latexmk_shell_escape: true
        working_directory: linalg
        
    - name: Analyse Numerique avec python CheatSheet
      uses: xu-cheng/latex-action@v3
      with:
        root_file: main.tex
        latexmk_shell_escape: true
        working_directory: anp-cheatsheet

    - name: Check PDF files
      run: |
        file analyse/main.pdf | grep -q ' PDF '
        file analyse/cheatsheet.pdf | grep -q ' PDF '
        file linalg_translation/src/linalg/main.pdf | grep -q ' PDF '
        file linalg_translation/linalg_en/linalg/main.pdf | grep -q ' PDF '
        file linalg_translation/linalg_ua/linalg/main.pdf | grep -q ' PDF '
        file linalg/cheatsheet.pdf | grep -q ' PDF '
        file anal-avec-python/main.pdf | grep -q ' PDF '
        file anp-cheatsheet/main.pdf | grep -q ' PDF '
        
    - name: Upload to GitHub pages
      run: |
        git config --global user.name "DobbiKov (auto)"
        git config --global user.email "dobbikov@gmail.com"

        mkdir ~/.ssh
        chmod 700 ~/.ssh
        echo "$DEPLOY_KEY" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        git config --global core.sshCommand "ssh -i ~/.ssh/id_ed25519 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"

        git clone --depth=1 --branch gh-pages git@github.com:dobbikov/semester4-lecture-notes.git "$GITHUB_WORKSPACE/deploy"

        # (*) To add a file, add the following command for that file
        cp -f analyse/main.pdf "$GITHUB_WORKSPACE/deploy/analyse.pdf"
        cp -f analyse/cheatsheet.pdf "$GITHUB_WORKSPACE/deploy/analyse_cheatsheet.pdf"
        cp -f anal-avec-python/main.pdf "$GITHUB_WORKSPACE/deploy/anal-avec-python.pdf"
        cp -f linalg/cheatsheet.pdf "$GITHUB_WORKSPACE/deploy/linalg_cheatsheet.pdf"
        cp -f anp-cheatsheet/main.pdf "$GITHUB_WORKSPACE/deploy/anp-cheatsheet.pdf"

        cp -f linalg_translation/src/linalg/main.pdf "$GITHUB_WORKSPACE/deploy/linalg.pdf"
        cp -f linalg_translation/linalg_ua/linalg/main.pdf "$GITHUB_WORKSPACE/deploy/linalg_ua.pdf"
        cp -f linalg_translation/linalg_en/linalg/main.pdf "$GITHUB_WORKSPACE/deploy/linalg_en.pdf"

        cd "$GITHUB_WORKSPACE/deploy"

        git add -A
        git commit -m "[github actions] deploy"
        git push
      env:
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
